SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.lcumwxkwvtalrtxixmip
SPRING_DATASOURCE_PASSWORD=replace-with-your-ase-database-password
