SUPABASE_DB_URL=jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres?sslmode=require
SUPABASE_DB_USER=postgres.lcumwxkwvtalrtxixmip
SUPABASE_DB_PASSWORD=replace-with-your-ase-database-password
